name: Build & Test Pull Request

on: 
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
  steps:
      - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
    with:
      dotnet-version: 5.0.301

    - name: Restore Packages
      run: dotnet restore

    - name: Build ABSave
    run: dotnet build --no-restore --confgiuration Release

    - name: Run Tests
      run: dotnet test --no-build --configuration  Release